* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.h-navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px 200px 30px 200px;
    align-items: center;

}

.person-name {
    color: #181818;
    font-size: 45px;
    font-family: Open Sans;
    font-weight: 800;

}

.letter-styal {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

.span-description {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin-left: 10px;
}

div>ul>li {
    margin: 10px;

}

nav a {
    text-decoration: none;
}